.navbar a{							
   padding: 15px 0;  
   
   text-decoration: underline; 
   color: white; 
   display:block;
   }
   .navbar li:hover, a:hover {
     background-color:#3399FF;
     border-radius: 18px;
     
     }
     .navbar li ul{
       display: none;
       height: auto;									
       margin: 0; 
       padding: 0; 
       padding-left: 0;
       }
       
       .navbar li:hover ul{
       display: block;
     }
       
           
           
           #wrap{
             width: 100%; 
             height: 50px; 
             margin: 5px;
             z-index: 1; 
             position: relative; 
             background-color:#ffffff00;
             padding-right: 5px;
             font-size: 22px;
             letter-spacing: 0.rem;
             padding-left: 15px;
            
             
            
            
            
             
             }
             .navbar{
               height: auto;
               padding: 5px;
               margin: 0;
               position: relative; 

              
               
               
               
               }
               .navbar li {
                  
                 height: auto;
                 width: 135.8px; 
                 float: left;  
                 text-align: center; 
                 list-style: none;   
                 padding: 0;
                 background-color: #0277bd;
                 border-radius: 18px;
                 margin-top: 0;
                 margin-right:50px;
                 margin-left: 55px;
                 padding-left: 55px;
                 padding-right: 74px;
                 font-size:18px ;      
                text-align: center;
                text-decoration: underline;
               
                
                               
                 
                 
                             
                 
                 
                 }
                 .navbar a{							
                   padding: 15px 0;  
                   
                   text-decoration: none; 
                   color: white; 
                   display:block;
                  transition: all 1s ease;
                   
                   }
                   .navbar li:hover, a:hover {
                     background-color:#0277bd;
                     border-radius: 18px;
                     transition: all 0.9s ease;
                     transition: 350ms;
                     transform: scale(1.02);
                     
                     
                     

                    
                     
                     }
                     .navbar li ul{
                       display: none;
                       height: auto;									
                       margin: 0; 
                       padding: 0; 
                       padding-left: 0;
                       list-style:disk -15px;
                       text-align: justify;
                       text-decoration: none;
                       
                       }
                       
                       .navbar li:hover ul{
                       display: inline-block;
                       padding-left: 0px;
                         padding-right:0px;
                         opacity: 1;
                         transition: all 1s ease;
                         transition: 350ms;
                         
                         
                        
                       }
                       .navbar li ul li{
                         background-color: #0277bd;
                         margin: 5px;
                         padding-left: 0px;
                         padding-right:15px ;
                         text-decoration: none;
                         font-weight: 700;
                         white-space: nowrap;
                          list-style:disc;
                          position: relative;
                          line-height: 2px;
                          
                         }
                         
                           .navbar li ul li a:hover{
                           background-color: gray00;
                           transition: all 0.9s ease;
                           text-decoration: none;
                           width: auto;
                           padding-left: 0px;
                           padding-right: 0px;
                           
                           transform: scale(0.9);
                           
                         
                         } 
                         nav{
                           position: relative;
                           z-index: 1;
                           display: block;
                           margin: 0;
                         }
                  .nav > ul ul{
                    position: absolute;
                    }

                  img{
                    
                    display:block;
                   height: 35%;
                    border-radius: 20px;
                    position: absolute;
                        margin-top: 120px;
                        margin-left: 685px;
                        width: 33%;
                        
                  }
                 
                    
                  
                 
                  
                  html{
                    font-family: 'Open Sans', sans-serif;
                    background-color: lightblue;
                    overflow-x: hidden;
                    overflow-y: scroll;
                 }
                 h1{
                    
                    margin-top: 48px;
                    position: absolute;
                    display: block;
                    margin-left: 880px;
                   
                 }
                 .info{
                    background-color: blue
                 }
                 span{
                    margin-top: 470px;
                    text-align: justify;
                    position: absolute;
                    margin-right: 100px;
                    display: block;
                    margin-left: 410px;
                    font-size: 22px;
                    white-space: nowrap;
                    letter-spacing: 0.1rem;
                    
                 }
                 #first{
                    margin-left: 394px;
                    margin-top: 503px;
                    font-weight: 500;
                    letter-spacing: 1px;
                    position: absolute;
                    display: block;
                    font-size: 20px;
                 }
                 #system{
                    margin-top: 449px;
                    letter-spacing: 1px;
                    
                    position: absolute;
                    display: block;
                    margin-left: 905px;
                    font-size: 20px;
                 }
                 #miss{
                    margin-top:555px;
                  
                    position: absolute;
                    display: block;
                    margin-left: 300px;
                    font-size: 20px;
                 }
                 #post{
                    margin-top: 590px;
                    margin-left: 268px;
                    position: absolute;
                    display: block;
                    font-size: 20px;
                 }
                 #process{
                  margin-top: 630px;
                  margin-left: 302px;
                  position: absolute;
                  display: block;
                  font-size: 20px;
                 }
                 .list{
                  margin-top: 690px;
                  margin-left: 282px;
                  font-size: 20px;
                  letter-spacing: 1px;
                 }
                 #next{
                  position: absolute;
                  display: block;
                  margin-top: 295px;
                 margin-left: 870px;
                 font-size: 20px;
                 color: dimgray;
                 
                 
                 }
                 #next a{
                  color: dimgray;
                  text-decoration: none;
                 }
                 #next a:hover{
                  color: dimgray;
                  background-color: #ffffff00;
                 }
                 .space{
                  background-color: rgb(92, 199, 235);
                  border-radius: 20px;
                  margin-top: 50px;
                  width: 97%;
                  margin-left: 35px;
                 }
                 
                 #ww{
                  color: #ffffff00;
                  background-color: #ffffff00;
                  position: absolute;
                  display: block;
                  word-wrap: break-word;
                  margin-top: 330px;
                 }
                 .ee{
                  color: #ffffff00;
                 }
                 #bg{
                  background-repeat: no-repeat;
                  position: absolute;
                  display: block;
                  margin-top: 200px;
                  z-index: -1;
                  width: 97%;
                  height: 126%;
                  margin-top: 25px;
                  margin-left: 22px;
                  border-radius: 20px;
              }
              #text1{
                position: absolute;
                display: block;
                margin-top: 2px;
                margin-left: 600px;
                font-size: 22px;
                letter-spacing: 0.1rem;
                font-weight: 900;
              }